<h1 mat-dialog-title class="custom-dialog-title">
    <mat-icon>person</mat-icon> Admin Details
  </h1>
  

<div mat-dialog-content>
    <div class="data">
        <div class="data-item">
           <h2> Admin Name:</h2><p> {{data.username}}</p>
        </div>
        <div class="data-item">
            <h2>Admin E-Mail Id:</h2><p>{{data.email}}</p>
        </div>
        <div class="data-item">
            
    <h2>Admin Contact Number:</h2><p>{{data.contactNumber}}</p>
        </div>
  

</div>
</div>
<div mat-dialog-actions>
   
        <button mat-button mat-dialog-close>Close</button>
  
</div> 